<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>alert_record</title>
</head>
<body>
    <table border="1">
        <tbody>
            <tr>
                <th>Time</th>
                <th>Status</th>
                <th>Labels</th>
                <th>Annotations</th>
                <th>StartsAt</th>
                <th>EndsAt</th>
                <th>Fingerprint</th>
            </tr>
            {% for i in record %}
                <tr>
                    <th>{{ i.time }}</th>
                    <th>{{ i.status }}</th>
                    <th>{{ i.labels }}</th>
                    <th>{{ i.annotations }}</th>
                    <th>{{ i.startsAt }}</th>
                    <th>{{ i.endsAt }}</th>
                    <th>{{ i.fingerprint }}</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>