{% if status == 'firing' %}
Firing
-
告警时间 : {{startsAt}}
-
Labels
{% for label_k, label_v in labels.items() %}
{{label_k}} : {{label_v}}
{% endfor %}
-
Annotations
{% for annota_k, annota_v in annotations.items() %}
{{annota_k}} : {{annota_v}}
{% endfor %}
{% endif %}

{% if status == 'resolved' %}
Resolved
-
告警时间 : {{startsAt}}
恢复时间 : {{endsAt}}
-
Labels
{% for label_k, label_v in labels.items() %}
{{label_k}} : {{label_v}}
{% endfor %}
-
Annotations
{% for annota_k, annota_v in annotations.items() %}
{{annota_k}} : {{annota_v}}
{% endfor %}
{% endif %}